@font-face {
  font-family: 'source_sans_pro';
  src: url('../fonts/ssp/ssp.eot');
  src: url('../fonts/ssp/ssp.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ssp/ssp.woff2') format('woff2'),
    url('../fonts/ssp/ssp.woff') format('woff'),
    url('../fonts/ssp/ssp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_pro';
  src: url('../fonts/ssp/ssp-i.eot');
  src: url('../fonts/ssp/ssp-i.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ssp/ssp-i.woff2') format('woff2'),
    url('../fonts/ssp/ssp-i.woff') format('woff'),
    url('../fonts/ssp/ssp-i.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'source_sans_pro';
  src: url('../fonts/ssp/ssp-b.eot');
  src: url('../fonts/ssp/ssp-b.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ssp/ssp-b.woff2') format('woff2'),
    url('../fonts/ssp/ssp-b.woff') format('woff'),
    url('../fonts/ssp/ssp-b.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_pro';
  src: url('../fonts/ssp/ssp-b-i.eot');
  src: url('../fonts/ssp/ssp-b-i.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ssp/ssp-b-i.woff2') format('woff2'),
    url('../fonts/ssp/ssp-b-i.woff') format('woff'),
    url('../fonts/ssp/ssp-b-i.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

html {
  background-color: #222;
}

body {
  font-family: 'source_sans_pro';
  font-size: 15px;
  background-color: #222;
}

h1, h2, h3, h4,
.h1, .h2, .h3 {
  font-weight: bold;
}

a {
  color: rgb(255,105,15);
}
a:hover {
  color: rgb(255,105,15);
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 9px;
  border: 0;
}

.navbar-brand {
  padding: 0;
  margin: 9px !important;
}

#logo-main,
#logo-main img {
  display: inline-block;
  height: 82px;
}

#nav-main {
  position: absolute;
  bottom: 0;
  right: 15px;
}
#nav-main li,
#nav-main li a {
  background: none !important;
}
#nav-main a:link,
#nav-main a:visited {
  color: rgb(255,105,15) !important;
}
#nav-main a:hover,
#nav-main a:active {
  color: #fff !important;
}

main {
  padding-top: 30px;
  padding-bottom: 60px;
  background: #fff;
}

footer {
  background-color: rgb(255, 105, 15);
  padding: 8px 0 5px;
}

footer strong {
  font-size: 22px;
  color: #fff;
  margin: 0;
}

#sidebar li a {
  padding: 2px 15px;
}

table {
  border-collapse: collapse;
  color: #333;
  width: 100%;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 15px;
  text-align: middle;
}

img {
  max-width: 800px;
}
