{% for docs in site.data.docs %}
  <h4>
    {{docs.title}}
  </h4>
  {% if docs.docs %}
    <ul class="nav">
      {% for doc in docs.docs %}
        {% for item in doc %}
          <li>{% include item_url.html param=item first=true %}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  {% for sub in docs.subs %}
    <h4>
      {{sub[0]}}        
      {% comment %}
        {% assign element=sub[0]%}
        {% include item_url.html param=element first=true %}
      {% endcomment %}
    </h4>
    {% if sub[1] %}
      <ul class="nav">
        {% for element in sub[1] %}
          {% if element.size == 1 %}
            {% for item in element %}
              <li>{% include item_url.html param=item first=true %}</li>
            {% endfor %}
          {% elsif element.size == 2 %}
            <li>
              {% for item in element %}
                {% if forloop.first %}
                {% include item_url.html param=item first=true %}
                {% else %}
                {% include item_url.html param=item first=false %}
                {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endfor %}
