<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    {% include header.html %}
    <main>
      <div class="container">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="sidebar" role="navigation">
          {% include nav.html %}
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          {{ content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
